$color-principal: #48B5B0;
$color-footer: #777;
$color-blanco: #fff;


@mixin transicion($tiempo) {
    transition: all $tiempo;
}

@mixin boton-base {
    padding: 1rem;
    border-radius: 10px;
    font-weight: bold;
}