<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/proyect.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <title>Nuestros Proyectos</title>
</head>
<body>
    <header>
            <nav class="navbar navbar-expand-lg bg-success-subtle">
        <div class="container-fluid">
            <img class="logo-imagen rounded-circle" src="../img/logo-agencia.png" alt="logo agencia">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/index.html">Inicio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/partial/nosotros.html">Sobre Nosotros</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/partial/proyectos.html">Proyectos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/partial/contacto.html">Contacto</a>
            </li>
            </ul>
        </div>
        </div>
    </nav>
    <section id="proyectos" class="proyectos-section">
        <h2 class="text-center my-5 text-decoration-underline titulos-espaciados mb-5 " id="conocimientos">PROYECTOS</h2>
        <p>Cada proyecto representa una oportunidad para transformar ideas en soluciones digitales funcionales y atractivas. A lo largo de nuestro trabajo hemos desarrollado propuestas enfocadas en diseño web, identidad digital y experiencias pensadas para responder a las necesidades de cada cliente.</p>
        <p>Nuestros proyectos incluyen desde páginas institucionales y portfolios profesionales hasta tiendas online, landing pages y propuestas digitales enfocadas en mejorar visibilidad, comunicación y conversión.</p>
        <p>A continuación se ven modelos de proyectos con los que hemos trabajado en los ultimos años</p>
    </section>
    </header>

    <main>
        <div class="d-flex flex-wrap justify-content-center gap-4 rounded my-5">

            <a class="text-decoration-none agrandando" href="" target="_blank"><article class="card bg-dark " style="width: 18rem;">
                <img src="../img/fondo-fulbo2.jpeg" class="card-img-top" alt="pelota de futbol card-img-top">
                <section class="card-body">
        <p class="card-text-proyect">Proyecto 1: Página de futbol</p>
    </section>
        </article></a>
        <a class="text-decoration-none agrandando" href="" target="_blank"><article class="card bg-danger" style="width: 18rem;">
                <img src="../img/pizza3.webp" class="card-img-top" alt="pizza card-img-top">
                <section class="card-body">
        <p class="card-text-proyect">Proyecto 2: Tienda de Pizzas</p>
    </section>
        </article></a>
        <a class="text-decoration-none agrandando" href="" target="_blank"><article class="card bg-primary" style="width: 18rem;">
                <img src="../img/auto2.webp" class="card-img-top" alt="auto card-img-top">
                <section class="card-body">
        <p class="card-text-proyect">Proyecto 3: concesionaria de autos</p>
    </section>
        </article></a>
        <a class="text-decoration-none agrandando" href="" target="_blank"><article class="card bg-success" style="width: 18rem;">
                <img src="../img/dia-naturaleza.webp" class="card-img-top" alt="naturaleza card-img-top">
                <section class="card-body">
        <p class="card-text-proyect">Proyecto 4: Cuidado de medioambiente</p>
    </section>
        </article></a>
        <a class="text-decoration-none agrandando" href="" target="_blank"><article class="card bg-black" style="width: 18rem;">
                <img src="../img/gato_negro_1_.webp" class="card-img-top" alt="gato negro card-img-top">
                <section class="card-body">
        <p class="card-text-proyect">Proyecto 5: Página de mascotas</p>
    </section>
        </article></a>

    </div>
    </section>
    </main>

    <footer class="footer-global">
            <p>@Copyright - Todos los derechos reservados - 2026 </p>
        </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>