<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/services.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <title>Servicios</title>
</head>
<body>
        <header class="index-header position-relative" id="inicio">
        <div class="position-absolute w-100 h-100 oscurecer-fondo z-1">
            <nav class="navbar navbar-expand-lg bg-success-subtle position-fixed w-100">
                <div class="container-fluid">
                        <img class="logo-imagen rounded-circle" src="../img/logo-agencia.png" alt="logo agencia">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link text-black" aria-current="page" href="../index.html">Inicio</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-black" href="nosotros.html">Sobre Nosotros</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-black" href="proyectos.html">Proyectos</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-black" href="contacto.html">Contacto</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <Section class="d-flex flex-column justify-content-center h-100 p-3 header-contenedor-inferior">
                    <h1 class="text-white fw-bold text-center h-index">Servicios a la disponibilidad de <span>Todos</span></h1>
                    <p class="text-white fw-light text-center pt-4 fs-5">Nuestros servicios están diseñados para ayudar a marcas y emprendedores a destacar en el mundo digital. Trabajamos en cada detalle para brindar soluciones eficientes, innovadoras y orientadas a resultados.</p>
                </Section>
        </header>
        <main class="index-main">
        <h2 class="titulo-secciones">Servicios Destacados</h2>
        <div class="main-container">
            <article class="main-card main-card-uno">
                <h3>Diseño Web</h3>
                <p>Creamos sitios modernos, atractivos y funcionales enfocados en brindar una excelente experiencia para los usuarios.</p>
                <button class="buttons">Comprar</button>
            </article>
            <article class="main-card">
                <h3>Desarrollo Front-End</h3>
                <p>Construimos interfaces dinámicas y responsivas utilizando tecnologías actuales para lograr rendimiento y calidad.</p>
                <button class="buttons">Comprar</button>
            </article>
            <article class="main-card">
                <h3>Mantenimiento y Soporte</h3>
                <p>Realizamos actualizaciones, correcciones y asistencia para mantener tu proyecto siempre operativo.</p>
                <button class="buttons">Comprar</button>
            </article>
            <article class="main-card">
                <h3>Optimización Web</h3>
                <p>Mejoramos velocidad, rendimiento y estructura para ofrecer sitios más eficientes y mejor posicionados.</p>
                <button class="buttons">Comprar</button>
            </article>
        </div>
    </main>
        
    <footer class="footer-global">
        <p>@Copyright - Todos los derechos reservados - 2026 </p>
    </footer>

            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>